

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
    color: #5d5f60;
    background: #fff;
}
.flex-container {
    display: flex;
    justify-content: right;
}

.flex-container div p a {
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
    color: #5d5f60;
    text-decoration: none; 
}
.flex-container div p a:hover {
    text-decoration: underline;
}
.flex-container > div {
    margin: 10px;
    padding: 20px;
    margin-top: auto;
}

.logo-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.input-wrapper {
    
    display: flex;
    align-items: center;
    flex-shrink:0;
    justify-content: space-between;
    height: 44px;
    border: 1px solid;
    border-color: #dfe1e5;
    border-radius: 94px;
    padding: 0 1rem 0 1rem;
    margin: 30px;
} 

.input-wrapper:hover {
    box-shadow: 1px 1px 5px #e0dcdc;
}

@media (min-width: 500px) {
 .input-wrapper  {
    width: 500px;
}  
}

@media ( max-width:499px ) {
    .input-wrapper {
        width: 100%;
        position: relative;
        margin: 0;
    } 
}



   .input-wrapper input {
        margin: 0 0.5rem 0 0.5rem;
        width: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        height: 30px;
        flex:1;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }

#search-button input {
    margin: 20px;
    padding: 5px;
    margin-top: auto;
    background-color:#f8f9fA;
    border: none;
    padding: 10px 16px;
    color: #5d5f60;
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
}

#search-button input:hover {
box-shadow: 0px 0px 1px 1px #d3d1d1;
}
